* {
  padding: 0;
  text-decoration: none !important;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: rgba(196, 196, 196, 0.35); */
  /* scroll-behavior: smooth; */
  /* overflow: scroll; */
}

#Products,
#Services,
#About {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0 10%;
}
.navbar {
  background-color: #f73d93 !important;
}

.nav-icon {
  padding: 5px;
}

.nav-link:hover {
  color: #000 !important;
  transition: 0.4s;
}
.login {
  color: #16003b;
  transition: transform 0.4s;
}

.login:hover {
  transform: scale(1.1);
}

.hero-section {
  background: rgba(196, 196, 196, 0.35);
}

.row-content {
  padding: 10% 2%;
  color: #16003b;
}

.title-heading {
  line-height: 1.5;
}

.title-image {
  width: 100%;
  margin-top: 18%;
}

@media screen and (max-width: 600px) {
  .title-image {
    margin-bottom: 20%;
  }
}


.tech {
  font-weight: 900;
}

/* colour-section-blue */
.colour-section-blue {
  background: #16003b;
}

/* colour-section-pink */

.colour-section-pink {
  background: #f73d93;
}

/* Start Promo section  */

.promo-image {
  width: 100%;
}
.promo {
  padding-bottom: 20px;
}

/* End Promo section  */

/* Start Product section  */

.products {
  background: rgba(255, 182, 193, 0.35);
  width: 30%;
}

@media screen and (max-width: 600px) {
  .products {
    width: 100%;
  }
}

.star {
  color: #e1e10d;
  line-height: 1.9;
}

/* End Product section  */

/* Start Category section  */

.explore {
  transition: 0.4s;
}

.explore:hover {
  transform: scale(1.1);
}

/* End Category section  */

/* Start promo-2 section  */

.promo-image-2 {
  width: 100%;
  /* transform: scale(1.2); */
  /* margin-bottom: 100%; */
}

@media screen and (max-width: 600px) {
  .promo-image-2 {
    /* width: 100%; */
    /* transform: scale(1.5); */
  }
}

/* End promo-2 section  */

/* Start service section  */
.service-text {
  width: 55%;
}

@media screen and (max-width: 600px) {
  .service-text {
    width: 100%;
  }
}

/* End service section  */

/* Start About section  */

.about {
  background: #16003b !important;
}
.about-text {
  padding-top: 1em;
}

.customers {
  background-color: #fff;
  color: #000;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .customers {
    width: 100%;
  }
}
/* End About section  */

/* Start Feature section  */

.features {
  background: rgba(255, 182, 193, 0.35);
  width: 30%;
}

@media screen and (max-width: 600px) {
  .features {
    width: 100%;
  }
}

/* End Feature section  */

/* Start footer section  */

footer {
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  font-size: small;
  flex-wrap: wrap;
}

.footer-details {
  width: 15%;
  margin: 5% 0 5% 5%;
}

footer ul {
  padding: 0;
}

footer li {
  margin-top: 20px;
  padding: 0;
  color: #fff;
}

footer li a {
  color: #fff;
}

.footer-about {
  width: 40%;
  margin: 5% 0 5% 0;
}

.footer-about p {
  width: 80%;
}

@media screen and (max-width: 600px) {
  .footer-details {
    width: 80%;
    margin: 5% 10%;
  }
  .footer-about {
    width: 80%;
    margin: 5% 10%;
  }
}

.rectangle {
  background: #0b001d;
  width: 70%;
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .rectangle {
    width: 100%;
    padding: 0 20px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0 100%);
  }
}

.footer-text {
  font-size: smaller;
}

/* End footer section  */
