* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* scroll-behavior: smooth;
  overflow: scroll; */
}

.container-fluid {
  padding: 0 10%;
}
.navbar {
  background-color: #f73d93 !important;
}

.nav-icon {
  padding: 5px;
}

.nav-link:hover {
  color: #000 !important;
  transition: 0.4s;
}
.login {
  color: #16003b;
  transition: transform 0.4s;
}

.login:hover {
  transform: scale(1.1);
}

.hero-section {
  background: rgba(196, 196, 196, 0.35);
}

.row-content {
  padding: 10% 2%;
  color: #16003b;
}

.title-heading {
  line-height: 1.5;
}

.title-image {
  width: 100%;
  margin: 3%;
}

/* Start Promo section  */

.promo {
  background: #f73d93;
}

.promo-image{
  width: 100%;
}
.discount{
  padding-bottom: 20px;
}
.fa-circle-arrow-up{
position: relative;
top: 30%;
left:70%;
}

@media screen and (max-width:600px){
  .fa-circle-arrow-up{
    top:10%;
  }
}

/* End Promo section  */


/* Start Product section  */

.products{
  background: rgba(255, 182, 193, 0.35);
  width: 30%;
}

@media screen and (max-width:600px){
  .products{
    width: 100%;
  }
}

.star{
  color: #e1e10d;
}
